<ion-header>
  <ion-toolbar>
    <ion-title>Mis Listas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="createList()">
        <ion-icon name="add-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Empty state -->
  <app-empty-state
    *ngIf="lists.length === 0"
    preset="list"
    (ctaClicked)="createList()"
  ></app-empty-state>

  <!-- Lista de listas -->
  <div *ngIf="lists.length > 0" class="lists-container">
    <!-- TODO: Renderizar listas de compra -->
  </div>
</ion-content>
