h3 {
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.subtitle {
  color: var(--ion-color-medium);
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.empty-state {
  margin-top: 4rem;

  .empty-icon {
    font-size: 4rem;
    color: var(--ion-color-medium);
    margin-bottom: 1rem;
  }

  p {
    color: var(--ion-color-medium);
  }
}
